[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
matplotlib = "*"
numpy = "*"
opencv-python = "*"
grpcio = "*"
grpcio-tools = "*"
Pygments = ">=2.7.4"

[requires]
python_version = "3.7"
